/* This file is for your main application css. */
@import "./phoenix.css";

.buttons {
  display: block;
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
}

.message {
  display: block;
  text-align: center;
}

.cell {
  display: block;
  background-color: #eee;
  border-color: black;
  border-width: 0.1em;
  border-style: solid;
}

.active_cell {
  background-color: rgb(248, 247, 159);
}

.img_value {
  display: block;
  margin: 0 auto;
}

#board {
  display: grid;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 200px;
  width: 200px;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
