<section>
  <%= live_component(TictactoeWeb.Components.StartButtonsLive, state: @state) %>
  <%= live_component(TictactoeWeb.Components.BoardLive, status: @status, board: @board, mark: @mark) %>
</section>
